/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 08/03/2024 11:58:34
*/

.Views {}
.details{
  width: 50%;
  
}
.image{
  width: 50%;
}