/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 10/03/2024 13:06:48
*/

.NotificationComponent {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
