/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 07/03/2024 08:44:18
*/

.Content {
  margin-top: 2rem;
  width: 100vw;
  border: .1rem solid #ccc;
 min-height: calc(100vh);
}
.contain{
  max-height: 80vh;
  border: .2rem solid black !important;
}
.contain img{
  max-height: 17rem;
}
