/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 09/03/2024 11:37:20
*/

.Home {}

.carte img{
  height: 20rem !important;
  width: auto !important;
}
