

html{
  font-size: 85.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top:  3rem;
}

html::-webkit-scrollbar{
  width: .8rem;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5rem;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}